{% extends 'base_admin.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
<div class="container mt-4">

    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Society_name</th>
                <th>Activity</th>
                <th>actions</th>
                <th>Name</th>
                <th>Poste</th>
                <th>Numero</th>
                <th>Email</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.societyName }}</td>
                <td>{{ client.activity }}</td>
                <td>Name</td>
                <td>Poste</td>
                <td>Numero</td>
                <td>Email</td>
                <td>Notes</td>
                <td>
                     <a href="{{ path('admin_client_edit', {id: client.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin_client_delete', {'id': client.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
            <a href="{{ path('admin_client_new') }}" class="btn btn-primary">Créer</a>
        </div>
    </div>
{% endblock %}
